{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}}
	| Admin
{% endblock %}

{% block content %}
	<section>
		<div class="container">
		<a href="/logout" class="btn btn-block btn-light fw-bold fs-2 text-secondary my-4">Se déconnecter</a>
			<h1 class="h1 fw-bold text-center p-4">Liste des commandes</h1>
			<div class="row">
				<table>
					<tr>
						<td class="fw-bold fs-3">N° de commande</td>
						<td class="fw-bold fs-3">Nom de l'animal commandé</td>
						<td class="fw-bold fs-3">Image de l'animal</td>
						<td class="fw-bold fs-3">Prix de la commande</td>
					</tr>
					{% for order in orders %}
						<tr>
							<td class="fs-5">{{order.id}}</td>
							<td class="fs-5">{{order.name}}</td>
							<td class="fs-5"><img src="{{'.' ~ order.image}}" alt="image of {{order.name}}" style="width:60px;height:60px;"></td>
							<td class="fs-5">{{order.price}}
								€</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
			
	</section>
{% endblock %}
