{% extends "layout.html.twig" %}

{% block title %}Liste des animaux
{% endblock %}

{% block content %}

	<h1 class="h1 fw-bold text-center my-5 text-secondary">{{'Choisissez votre animal'|upper}}</h1>
	<div class="container containerAnimal rounded py-3 bg-light mb-5">

		{% for animal in animals %}
			<div class="row justify-content-between rowAnimal bg-danger rounded m-3 p-2 {{loop.index is odd ? 'bg-valid' : ''}}">

				<div class="col-md-10 col-lg-3 my-2 d-flex justify-content-center align-items-center">
					<img class="rounded" src="/assets/images/lama.jpeg" class="h-100 w-100" alt="Image d'animaux">
				</div>
				<div class="col-md-10 col-lg-2 mb-2 d-flex justify-content-start align-items-center">
					<h2 class="fw-bold">
						{{ animal.name|upper }}
					</h2>
				</div>
				<div class="col-md-10 col-lg-4 fw-bold d-flex flex-column justify-content-around">
					<div class="speed mb-2 d-flex justify-content-around">
						<p class="m-0">VITESSE :</p>
						<p class="m-0">{{ animal.speed ?? '_' }}
							KM/H</p>
					</div>
					<div class="time mb-2 d-flex justify-content-around">
						<p class="m-0">TEMPS :</p>
						<p class="m-0">{{ animal.time ?? '_' }}
							Hrs</p>
					</div>
					<div class="price mb-2 d-flex justify-content-around">
						<p class="m-0">PRIX :</p>
						<p class="m-0">{{animal.price ?? '_'}}
							€</p>
					</div>
				</div>
				<div class="col-md-10 col-lg-3 my-2 d-flex justify-content-center">
					<form action="" method="post">
						<input type="hidden" name="name" value="{{ animal.name }}">
						<input type="hidden" name="speed" value="{{ animal.speed }}">
						<input type="hidden" name="time" value="{{ animal.time }}">
						<input type="hidden" name="price" value="{{ animal.price ?? 300 }}">
						<button class="btn btn-lg btn-light fw-bold text-secondary fs-2 h-100" type="submit">Sélectionner</button>
					</form>
				</div>

			</div>
		{% endfor %}
	</div>
{% endblock %}
